#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tarot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.button-container button {
  margin: 0 10px;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: fit-content;
  perspective: 1000px;
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 250px;
  height: 450px;
  position: relative;
}

.card-back {
  position: relative;
  margin-left: 8px;
}

.card-text {
  position: absolute;
  top: 25px;
  left: 25px;
  transform: scaleX(-1);
  padding-left: 8px;
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg) !important;
}

.card.flipped .back-img {
  opacity: 0.1;
  width: 250px;
  height: 450px;
  transform: scaleX(-1);
}

.card .front-img {
  max-width: 100%;
  height: auto;
  opacity: 1;
}

.card-history {
  list-style:none;
  padding-left:0
}

.card-history img {
  width:100px;
  height:180px;
}

h2, p {
  margin-top: 0px;
}